<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic angular application: Step 5</title>

    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      <div ng-controller="MainCtrl">

        <div class="row">
          <div class="col-md-6">
            <div class="well well-sm">
              <div class="input-group">
                <input type="text" class="form-control"
                  placeholder="New your name..."
                  ng-model="newName">
                <span class="input-group-btn">
                  <button class="btn btn-success"
                    type="button"
                    ng-click="add()">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add
                    </button>
                </span>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="well well-sm">
              <input type="text" class="form-control" ng-model="query">
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users | filter: query">
                  <td>{{ $index + 1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>
                    <button class="btn btn-default" ng-click="edit($index)">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                     <button class="btn btn-danger" ng-click="remove($index)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>

    <script src="./node_modules/angular/angular.js"></script>

    <script src="./app.js"></script>
    <script src="./controllers/main.js"></script>
    <script src="./services/users.js"></script>

  </body>
</html>